In [1]:
import pandas as pd

In [13]:
ameriflux = pd.read_csv('AMF_BR-Sa1_BASE_HR_5-5.csv',na_values=-9999,skiprows=2) # Dados da AMERIFLUX
modis = pd.read_csv('Npp_500m.csv',header=None)
ameriflux

,TIMESTAMP_START,TIMESTAMP_END,USTAR,TA_1_2_1,WD,WS,NEE_PI,FC,SC,H,LE,RH,PA,CO2_1_1_1,CO2_1_2_1,VPD_PI,NETRAD,PPFD_IN,H2O_1_2_1,RECO_PI
0,200201010000,200201010100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.388,71.135,78.000,NaN,NaN,NaN,8.15,NaN,0.0,NaN,NaN
1,200201010100,200201010200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.410,70.215,79.601,NaN,NaN,NaN,7.27,NaN,0.0,NaN,NaN
2,200201010200,200201010300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.455,58.012,78.400,NaN,NaN,NaN,7.61,NaN,0.0,NaN,NaN
3,200201010300,200201010400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.797,52.772,83.200,NaN,NaN,NaN,5.76,NaN,0.0,NaN,NaN
4,200201010400,200201010500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.592,34.579,84.900,NaN,NaN,NaN,5.11,NaN,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87643,201112311900,201112312000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87644,201112312000,201112312100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87645,201112312100,201112312200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87646,201112312200,201112312300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87647,201112312300,201201010000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN