In [165]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.impute import KNNImputer

In [166]:
APE = pd.read_csv('AMF_PE-QFR_FLUXNET_FULLSET_MM_2018-2019_3-5.csv')
MODIS = pd.read_csv('MOD17A3HGF.csv',header=None)
MODIS.head()

,0,1,2,3,4,5,6,7,8,9,...,284,285,286,287,288,289,290,291,292,293
0,MOD17A3HGF.A2001001.h10v09.006.2020136134928.N...,MOD17A3HGF,A2001001,Lat-3.834436Lon-73.31897Samp17Line17,2020136134928,13472.0,13971.0,32762.0,7894.0,6224.0,...,13670.0,13714.0,13620.0,13495.0,13264.0,13435.0,13678.0,12920.0,13914.0,13862.0
1,MOD17A3HGF.A2001001.h10v09.006.2020136134928.N...,MOD17A3HGF,A2001001,Lat-3.834436Lon-73.31897Samp17Line17,2020136134928,47.0,42.0,250.0,54.0,65.0,...,60.0,64.0,52.0,65.0,66.0,66.0,55.0,63.0,68.0,63.0
2,MOD17A3HGF.A2002001.h10v09.006.2020143160632.N...,MOD17A3HGF,A2002001,Lat-3.834436Lon-73.31897Samp17Line17,2020143160632,13789.0,13419.0,32762.0,7458.0,7034.0,...,13104.0,13390.0,12752.0,13074.0,13083.0,13286.0,13010.0,12991.0,13017.0,13177.0
3,MOD17A3HGF.A2002001.h10v09.006.2020143160632.N...,MOD17A3HGF,A2002001,Lat-3.834436Lon-73.31897Samp17Line17,2020143160632,49.0,48.0,250.0,42.0,49.0,...,62.0,64.0,55.0,64.0,64.0,68.0,75.0,71.0,57.0,57.0
4,MOD17A3HGF.A2003001.h10v09.006.2020168120335.N...,MOD17A3HGF,A2003001,Lat-3.834436Lon-73.31897Samp17Line17,2020168120335,12930.0,12922.0,32762.0,7090.0,7419.0,...,12582.0,12675.0,12775.0,12463.0,12455.0,12167.0,12111.0,12674.0,12651.0,12761.0

In [167]:
APE['TIMESTAMP'] = pd.to_datetime(APE['TIMESTAMP'],format='%Y%m')
APE['TIMESTAMP'] = APE['TIMESTAMP'].dt.to_period('M')
APE.head()

,TIMESTAMP,TA_F_MDS,TA_F_MDS_QC,TA_F_MDS_NIGHT,TA_F_MDS_NIGHT_SD,TA_F_MDS_NIGHT_QC,TA_F_MDS_DAY,TA_F_MDS_DAY_SD,TA_F_MDS_DAY_QC,TA_ERA,...,GPP_DT_VUT_SE,GPP_DT_VUT_05,GPP_DT_VUT_16,GPP_DT_VUT_25,GPP_DT_VUT_50,GPP_DT_VUT_75,GPP_DT_VUT_84,GPP_DT_VUT_95,RECO_SR,RECO_SR_N
0,2018-01,25.385,1.000000,23.952,1.123,1.000000,26.631,2.268,1.000000,25.411,...,0.135655,10.34810,11.05710,11.26340,12.22880,12.47240,12.98260,13.08750,-9999,-9999
1,2018-02,26.631,1.000000,25.103,1.337,1.000000,28.036,2.344,1.000000,26.439,...,0.188814,8.61924,9.36547,9.47711,10.65170,11.73890,11.80820,11.96250,-9999,-9999
2,2018-03,25.988,1.000000,24.464,1.121,1.000000,27.410,2.363,1.000000,26.084,...,0.061788,11.20550,11.36420,11.56210,11.91730,11.99570,12.07780,12.28930,-9999,-9999
3,2018-04,25.478,0.715278,24.284,0.919,0.730435,26.577,2.171,0.701333,25.275,...,0.102032,7.41977,7.97334,8.24826,8.60903,9.31576,9.46066,9.58334,-9999,-9999
4,2018-05,25.353,1.000000,24.294,0.815,1.000000,26.327,1.879,1.000000,25.421,...,0.191217,5.16431,7.15643,8.14249,8.54827,8.79999,8.95125,9.26907,-9999,-9999

In [174]:
APE['TA_F_MDS'].mean()

25.686999999999998

In [158]:
imputer = KNNImputer(missing_values=-9999)
output = imputer.fit_transform(APE[APE.columns[2:]])
new_APE = pd.DataFrame(output,columns=APE.columns[2:])

In [159]:
new_APE = pd.concat([APE[APE.columns[:2]],new_APE],axis=1)
new_APE

,TIMESTAMP_START,TIMESTAMP_END,NEE_PI,FC,SC,LE,SLE,H,SH,CO2,...,TA,RH,PA,TS_1_1_1,PPFD_IN,SW_IN,NETRAD,FCH4,SCH4,CH4
0,2018-01-01 00:00:00,2018-01-01 00:30:00,-5.998914,-3.028023,-6.966322,15.709785,-2.852826,2.075752,4.590357,505.782933,...,23.4654,98.1640,98.968531,24.474375,137.4856,69.2904,15.26118,-13.7270,-42.3078,2457.7522
1,2018-01-01 00:30:00,2018-01-01 01:00:00,2.991277,-2.521961,1.384562,-1.250534,1.900203,-1.520027,-2.255791,457.190538,...,23.3350,99.9012,98.825350,24.409877,0.8370,0.4724,-17.88764,-7.1000,-21.4526,2126.0204
2,2018-01-01 01:00:00,2018-01-01 01:30:00,1.704661,0.600870,-67.059955,0.668717,113.263375,-2.809195,1.290605,496.786694,...,23.1800,99.9140,98.798770,24.345379,0.0140,0.0820,-21.69500,-3.5578,6.0860,2160.1740
3,2018-01-01 01:30:00,2018-01-01 02:00:00,18.500311,-1.804072,-11.219058,7.245462,64.324495,5.669477,-11.763296,450.486032,...,22.7390,99.7680,98.755814,24.280881,0.0140,0.0820,-19.88700,44.8918,10.9136,2159.0080
4,2018-01-01 02:00:00,2018-01-01 02:30:00,3.947040,-0.493045,-51.128236,-2.331688,142.082107,4.185607,-2.280261,477.578750,...,22.5370,100.0000,98.718206,24.241302,0.0130,0.0850,-17.95500,-8.5718,2.7516,2105.5394
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35035,2019-12-31 21:30:00,2019-12-31 22:00:00,2.303875,2.725370,-20.952484,-25.207860,-35.608652,-9.691382,-6.925370,401.857491,...,26.2720,93.1410,98.787643,25.749272,0.0420,0.0590,-18.62500,90.8466,-16.9138,2190.8184
35036,2019-12-31 22:00:00,2019-12-31 22:30:00,3.264931,0.808616,1.477529,5.276828,-0.806679,-1.347814,-12.708918,389.175457,...,25.4820,95.1510,98.763523,25.640294,0.0120,0.0570,-24.16200,30.3368,21.9938,2203.6500
35037,2019-12-31 22:30:00,2019-12-31 23:00:00,7.038777,2.688364,1.284645,20.743445,12.350276,0.873537,-3.733748,390.325914,...,25.1680,97.3140,98.759950,25.531315,0.0120,0.0550,-17.38700,18.9180,21.5850,2027.7030
35038,2019-12-31 23:00:00,2019-12-31 23:30:00,5.102586,1.803852,6.588165,10.202345,4.971054,-0.056108,-2.958699,397.241854,...,24.9000,98.0870,98.737105,25.453310,0.0180,0.0620,-17.12000,-32.0538,83.1860,2126.4390
35039,2019-12-31 23:30:00,2020-01-01 00:00:00,0.484656,0.933369,-0.448713,0.971293,-5.578847,-4.735202,-7.232153,398.450037,...,24.6600,98.7620,98.715104,25.375305,0.0120,0.0840,-20.45200,1.2688,-24.6800,2120.6910

          TIMESTAMP_START       TIMESTAMP_END
0     2018-01-01 00:00:00 2018-01-01 00:30:00
1     2018-01-01 00:30:00 2018-01-01 01:00:00
2     2018-01-01 01:00:00 2018-01-01 01:30:00
3     2018-01-01 01:30:00 2018-01-01 02:00:00
4     2018-01-01 02:00:00 2018-01-01 02:30:00
...                   ...                 ...
35035 2019-12-31 21:30:00 2019-12-31 22:00:00
35036 2019-12-31 22:00:00 2019-12-31 22:30:00
35037 2019-12-31 22:30:00 2019-12-31 23:00:00
35038 2019-12-31 23:00:00 2019-12-31 23:30:00
35039 2019-12-31 23:30:00 2020-01-01 00:00:00

[35040 rows x 2 columns]